._LOV {
    width: 75% !important;
    margin-left: 40px;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding-left: 10px !important;
    height: 40px;
}


._Input {
    width: 20% !important;
    margin-left: 40px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding-left: 10px !important;
    height: 40px;
}

._Label {
    width: 75% !important;
    margin-left: 40px;
    font-size: 12px;
}

._Button {
    width: 25% !important;
    margin-left: 35px;
    margin-top: 30px;
}