<ion-header>
  <ion-toolbar>
    <ion-title>seller-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="sel_list">
  <div class="psell-sec">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm>
          <ion-icon class="rt-arw" name="arrow-round-back"></ion-icon>
          <h3 class="sell-head text-center">Seller list</h3>
          <!-- <ion-icon class="nt-ring" name="notifications-outline"></ion-icon> -->
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="srch_para">
      <p>Search results: 4 posts found in 11 OCT</p>
    </ion-row>

    <ion-row class="latest-tsec1">
      <ion-col size="3">
          <div class="trans-icn">
            <ion-icon class="circle-icn" name="arrow-dropleft-circle"></ion-icon><br>
            <ion-icon class="loct-icn" name="pin"></ion-icon><span class="icn-text">Gachibowli</span>
          </div>
      </ion-col>
      <ion-col size="9">
          <div class="trans-units">
            <h6>50 Units<br><span>ID #49857439</span></h6>
            <p>Rs. 825.00<br><span style="margin-top: 0px;">(Per Unit 5/-)</span></p>
          </div>
          <div class="sechdule-trans">
              <ion-icon name="time" class="st-icn"></ion-icon><span>08:00 AM - 09:00 AM</span>
          </div>
      </ion-col>
    </ion-row>

    <ion-row class="latest-tsec1">
        <ion-col size="3">
            <div class="trans-icn">
              <ion-icon class="circle-icn" name="arrow-dropleft-circle"></ion-icon><br>
              <ion-icon class="loct-icn" name="pin"></ion-icon><span class="icn-text">Kondapur</span>
            </div>
        </ion-col>
        <ion-col size="9">
            <div class="trans-units">
              <h6>25 Units<br><span>ID #98797983</span></h6>
              <p>Rs. 225.00<br><span style="margin-top: 0px;">(Per Unit 5.5/-)</span></p>
            </div>
            <div class="sechdule-trans">
                <ion-icon name="time" class="st-icn"></ion-icon><span>08:00 AM - 09:00 AM</span>
            </div>
        </ion-col>
      </ion-row>

      <ion-row class="latest-tsec1">
          <ion-col size="3">
              <div class="trans-icn">
                <ion-icon class="circle-icn" name="arrow-dropleft-circle"></ion-icon><br>
                <ion-icon class="loct-icn" name="pin"></ion-icon><span class="icn-text">Kondapur</span>
              </div>
          </ion-col>
          <ion-col size="9">
              <div class="trans-units">
                <h6>60 Units<br><span>ID #98797983</span></h6>
                <p>Rs. 300.00<br><span style="margin-top: 0px;">(Per Unit 4/-)</span></p>
              </div>
              <div class="sechdule-trans">
                  <ion-icon name="time" class="st-icn"></ion-icon><span>08:00 AM - 09:00 AM</span>
              </div>
          </ion-col>
        </ion-row>

        <ion-row class="latest-tsec1">
            <ion-col size="3">
                <div class="trans-icn">
                  <ion-icon class="circle-icn" name="arrow-dropleft-circle"></ion-icon><br>
                  <ion-icon class="loct-icn" name="pin"></ion-icon><span class="icn-text">Kondapur</span>
                </div>
            </ion-col>
            <ion-col size="9">
                <div class="trans-units">
                  <h6>75 Units<br><span>ID #98797983</span></h6>
                  <p>Rs. 330.00<br><span style="margin-top: 0px;">(Per Unit 4.5/-)</span></p>
                </div>
                <div class="sechdule-trans">
                    <ion-icon name="time" class="st-icn"></ion-icon><span>08:00 AM - 09:00 AM</span>
                </div>
            </ion-col>
          </ion-row>
  </ion-grid>

  <ion-grid class="sort_filter">
      <ion-row>
          <ion-col class="sort_col" size="6" size-sm><ion-button expand="full">Sort</ion-button></ion-col>
          <ion-col class="filt_col" size="6" size-sm><ion-button expand="full">Filter</ion-button></ion-col>
      </ion-row>
  </ion-grid>

  </div>
</ion-content>

